<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/sprint1.css"> 

<div id=fondo>
<head>
	
	<title>Radar Covid</title>
</head>
<header>
	<div class=titulo><h1>Radar COVID</h1></div>
	<p class="spacer"></p>
	<div class=titulillo><h2>Lista Usuarios</h2></div>
	<p class="spacer"></p>
	
</header>
<body>
<!--  		<div id=registro>
			<div class=insertar>
				<p class="spacer"></p>
				<button class="botonM"><a href="inicio">Menú Principal</a></button></a>
				<p class="spacer"></p>
				<p class=listausuarios>Lista de Usuarios</p>
				<div class=cuadro>
                    <table class="table table-striped">
						<thead>
							<tr>
								<th th:text="#{usuarios.USUARIO.id}"></th>
								<th th:text="#{usuarios.USUARIO.email}"></th>
								<th th:text="#{usuarios.USUARIO.contraseña}"></th>
								<th th:text="#{usuarios.USUARIO.positivo}"></th>
								<th th:text="#{usuarios.USUARIO.contactos}"></th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>			
							</tr>
						</thead>
						<tbody>
							<tr th:each="USUARIO: ${usuarios}">
								<td th:text="${Usuario.email}"></td>
								<td th:text="${Usuario.contraseña}"></td>
								<td th:text="${Usuario.positivo}"></td>
								<td th:text="${Usuario.contactos}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<a th:href="@{crear}" class="btn btn-outline-primary btn-block" th:text="#{usuarios.acciones.anadir}"></a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>  -->

		 <table class="table table-striped">
			<thead>
				<tr>
					<th th:text="usuarios.id"></th>
					<th th:text="usuarios.email"></th>
					<th th:text="usuarios.contrasena"></th>
					<th th:text="usuarios.positivo"></th>
					<th th:text="usuarios.contactos"></th>
		
			</thead>
			
		<tbody>
			<tr th:each="Usuario: ${usuarios}">
				<td th:text="${Usuario.id}"></td>
				<td th:text="${Usuario.email}"></td>
				<th>-</th>
				<td th:text="${Usuario.positivo}"></td>
				<td th:text="${Usuario.contactos}"></td>
			</tr>
		</tbody>
		</table> 
</body>
<footer class="piedepagina">


	<div class="grupo1">
		<div class="box">
			<div class="terminos"><h5>Términos y condiciones</h5></div>
			<div class="privacidad"><h5>Políticas de privacidad</h5></div>
		</div>
		<div class="box">
			<h4>SOBRE NOSOTROS</h4>
			<p>Protégete y protege a los tuyos. Recibe alertas de contactos de riesgo por COVID-19 </p>
		</div>
		<div class="box">
			<figure>
				<img class="ministerio"src="https://s1.eestatic.com/2021/09/27/actualidad/615200999_210040490_854x277.jpg">
			</figure>			
		</div>		
	</div>

	<div class="grupo2">
		<small>&copy; 2022 <b>Radar Covid</b> - Todos los Derechos Reservados.</small>
	</div>

</footer>
</div>
		
</html>