
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/sprint1.css"> 

<div id=fondo>
<head>
	
	<title>Radar Covid</title>
</head>
<header>
	<div class=titulo><h1>Radar COVID</h1></div>
	<p class="spacer"></p>
	<div class=titulillo><h2>Menú principal</h2></div>
	<p class="spacer"></p>
	
</header>
<body>
   

	
</body>
<footer class="piedepagina">

	<div class="grupo1">
		<div class="box">
			<div class="terminos"><h5>Términos y condiciones</h5></div>
			<div class="privacidad"><h5>Políticas de privacidad</h5></div>
		</div>
		<div class="box">
			<h2>SOBRE NOSOTROS</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
		</div>
		<div class="box">
			<figure>
				<img class="ministerio"src="https://s1.eestatic.com/2021/09/27/actualidad/615200999_210040490_854x277.jpg">
			</figure>			
		</div>		
	</div>

	<div class="grupo2">
		<small>&copy; 2022 <b>Radar Covid</b> - Todos los Derechos Reservados.</small>
	</div>

</footer>
</div>

</html>