
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" type="text/css" href="css/sprint1.css">  -->
<link th:href="@{css/sprint1.css}" rel="stylesheet" />
<div id=fondo>
<head >
	<meta charset="UTF-8">
	<title>Radar Covid</title>
</head>
<header>
	
	<div class=titulo><h1>Radar COVID</h1></div>
	<p class="spacer"></p>
	<div class=titulillo><h2>Registro</h2></div>
	<p class="spacer"></p> 
	
</header>
<body>
	<div class="formulario">
	<form th:action="@{${accion}}" th:object="${Usuario}" method="post">
		<label class="col-sm-2 col-form-label" th:text="#{usuarios.USUARIO.email}"></label>
		<div class="col-sm-6">
			<input type="text" th:field="*{email}">
			<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> -->
		</div>
		<label class="col-sm-2 col-form-label" th:text="#{usuarios.USUARIO.contrasena}"></label>
		<div class="col-sm-6">
			<input type="text" th:field="*{contraseña}">
			<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> -->
		</div>
		<label class="col-sm-2 col-form-label" th:text="#{usuarios.USUARIO.positivo}"></label>
		<div class="col-sm-6">
			<input type="text" th:field="*{positivo}">
			<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> -->
		</div>
		<label class="col-sm-2 col-form-label" th:text="#{usuarios.USUARIO.contactos}"></label>
		<div class="col-sm-6">
			<input type="text" th:field="*{contactos}">
			<!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> -->
		</div>
		<div class="col-sm-6">
			<input type="submit" th:value="#{usuarios.acciones.guardar}" class="btn btn-outline-primary">
			<a th:href="@{${accion} == 'guardar' OR ${#fields.hasErrors('*')} ? '/' : '../'}"
			class="btn btn-outline-danger" th:text="#{usuarios.acciones.cancelar}"></a>
			<!-- a th:href="@{${accion} == 'guardar' OR ${#fields.hasErrors('*')} ? 'lista' : '../lista'}" class="btn btn-outline-danger" th:text="#{tfgs.acciones.cancelar}"></a-->
		</div>

	</form>
</div>
</body>
<footer class="piedepagina">


	<div class="grupo1">
		<div class="box">
			<div class="terminos"><h5>Términos y condiciones</h5></div>
			<div class="privacidad"><h5>Políticas de privacidad</h5></div>
		</div>
		<div class="box">
			<h2>SOBRE NOSOTROS</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
		</div>
		<div class="box">
			<figure>
				<img class="ministerio"src="https://s1.eestatic.com/2021/09/27/actualidad/615200999_210040490_854x277.jpg">
			</figure>			
		</div>		
	</div>

	<div class="grupo2">
		<small>&copy; 2022 <b>Radar Covid</b> - Todos los Derechos Reservados.</small>
	</div>

</footer>
</div>
		
</html>