
<!DOCTYPE html>

<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/sprint1.css"> 

<div id=fondo>
<head>
	
	<title>Radar Covid</title>
</head>
<header>
	<div class=titulo><h1>Radar COVID</h1></div>
	<p class="spacer"></p>
	<div class=titulillo><h2>Iniciar Sesión</h2></div>
	<p class="spacer"></p>
	
</header>
<body>

		<div id=registro>
			<div class=formulario>
				<p class="spacer"></p>
				<p><u>DNI</u>: <input  type="text" id="dni" placeholder="Escribe aquí..."></p>
				<p><u>Contraseña</u>: <input  type="text" id="contraseña1" placeholder="Escribe aquí..."></p>
				<button class="boton">INICIAR SESIÓN</button>
				<p>--------------------------------------------------------------------------------------------------------------</p>
				<p class="spacer"></p>
				<p>¿No tienes cuenta? Regístrate</p>
			
			</div>
		</div>
</body>
<footer class="piedepagina">


	<div class="grupo1">
		<div class="box">
			<div class="terminos"><h5>Términos y condiciones</h5></div>
			<div class="privacidad"><h5>Políticas de privacidad</h5></div>
		</div>
		<div class="box">
			<h2>SOBRE NOSOTROS</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>

		</div>
		<div class="box">
			<figure>
				<img class="ministerio"src="https://s1.eestatic.com/2021/09/27/actualidad/615200999_210040490_854x277.jpg">
			</figure>			
		</div>		
	</div>

	<div class="grupo2">
		<small>&copy; 2022 <b>Radar Covid</b> - Todos los Derechos Reservados.</small>
	</div>

</footer>
</div>
</html>